
  <div style="padding-top:10px;" fxLayout="row" fxLayoutAlign="space-evenly">
    <mat-card fxFlex="98">
        
        <div fxLayout.gt-sm="row raw" fxLayout.lt-sm="column" fxLayoutAlign="space-between" [formGroup]="positivosForm">
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100">
                <mat-label>No Caso</mat-label>
                <input matInput formControlName="no_caso">
                <mat-error *ngIf="positivosForm.get('no_caso').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
           <!-- <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Apellido Paterno</mat-label>
                <input matInput formControlName="apellido_paterno">
                <mat-error *ngIf="positivosForm.get('apellido_paterno').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Apellido Materno</mat-label>
                <input matInput formControlName="apellido_materno">
                <mat-error *ngIf="positivosForm.get('apellido_materno').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>-->
            <mat-form-field fxFlex.gt-sm="75" fxFlex.lt-sm="100" >
                <mat-label>Nombre Completo</mat-label>
                <input matInput formControlName="nombre" #nombre_completo (blur)="obtenerIniciales(nombre_completo.value)" required>
                <mat-error *ngIf="positivosForm.get('nombre').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Alias</mat-label>
                <input matInput formControlName="alias" required [readonly]="true">
                <mat-error *ngIf="positivosForm.get('alias').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
             <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Edad</mat-label>
                <input matInput  formControlName="edad">
                <mat-error *ngIf="positivosForm.get('edad').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Sexo</mat-label>
                <mat-select formControlName="sexo"  [(ngModel)]="valor_sexo">
                    <mat-option [value]="1">Masculino</mat-option>
                    <mat-option [value]="2">Femenino</mat-option>
                </mat-select>
                <mat-error *ngIf="positivosForm.get('sexo').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" *ngIf="!catalogos['municipios']">
                <mat-label>Municipio</mat-label>
                <input matInput formControlName="municipio">
                <mat-hint>Escribe el nombre del municipio</mat-hint> 
            </mat-form-field>
        
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" *ngIf="catalogos['municipios']">
                <mat-label>Municipio</mat-label>
                <input type="text" aria-label="municipio" matInput formControlName="municipio_id" [matAutocomplete]="municipioAutocomplete" >
                <mat-autocomplete #municipioAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" [panelWidth]="'auto'">
                    <mat-option *ngFor="let item of filteredCatalogs['municipios'] | async" [value]="item">
                        {{item.descripcion}}
                    </mat-option>
                </mat-autocomplete>
                <mat-hint *ngIf="!positivosForm.get('municipio_id').value">Selecciona un municipio de la lista</mat-hint>
                <mat-hint align="end" *ngIf="positivosForm.get('municipio_id').value">[{{positivosForm.get('municipio_id').value.clave}}]</mat-hint>
               
            </mat-form-field>
        
            <!--Nuevo-->
            <mat-form-field fxFlex.gt-sm="50" fxFlex.lt-sm="100" >
                <mat-label>Responsable</mat-label>
                <input matInput formControlName="responsable" required>
                <mat-error *ngIf="positivosForm.get('responsable').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="50" fxFlex.lt-sm="100" >
                <mat-label>Unidad</mat-label>
                <mat-select formControlName="tipo_unidad_id" [(ngModel)]="valor_unidad" >
                    <mat-option *ngFor="let item of catalogo_unidades" [value]="item.id">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="positivosForm.get('tipo_unidad_id').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Tipo de Atención</mat-label>
                <mat-select formControlName="tipo_atencion_id" >
                    <mat-option *ngFor="let item of catalogo_atencion" [value]="item.id">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="positivosForm.get('tipo_atencion_id').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Derechohabiencia</mat-label>
                <mat-select formControlName="derechohabiente_id" >
                    <mat-option *ngFor="let item of catalogo_derechohabiencias" [value]="item.id">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="positivosForm.get('derechohabiente_id').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Contactos</mat-label>
                <input matInput formControlName="contactos">
                <mat-error *ngIf="positivosForm.get('contactos').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Tipo Transmisión</mat-label>
                <mat-select formControlName="tipo_transmision_id" >
                    <mat-option *ngFor="let item of catalogo_transmision" [value]="item.id">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="positivosForm.get('tipo_transmision_id').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Fecha inicio Sintomas (aaaa-mm-dd)</mat-label>
                <input matInput mascaraFecha formControlName="fecha_inicio_sintoma">
                <mat-hint>Ejemplo: 1985-08-15</mat-hint>
                <mat-error *ngIf="positivosForm.get('fecha_inicio_sintoma').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Fecha confirmación (aaaa-mm-dd)</mat-label>
                <input matInput mascaraFecha formControlName="fecha_confirmacion">
                <mat-hint>Ejemplo: 1985-08-15</mat-hint>
                <mat-error *ngIf="positivosForm.get('fecha_confirmacion').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Fecha alta probable (aaaa-mm-dd)</mat-label>
                <input matInput mascaraFecha formControlName="fecha_alta_probable">
                <mat-hint>Ejemplo: 1985-08-15</mat-hint>
                <mat-error *ngIf="positivosForm.get('fecha_alta_probable').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" >
                <mat-label>Estatus</mat-label>
                <mat-select formControlName="estatus_covid_id" >
                    <mat-option *ngFor="let item of catalogo_estatus" [value]="item.id">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="positivosForm.get('estatus_covid_id').hasError('required')">Este campo es obligatorio</mat-error>
            </mat-form-field>
        </div>   
        <div fxLayout="row">
            <div fxFlex></div>
            <button mat-raised-button color="info" routerLink="/casos-positivos" style="margin: 0px 5px;"> Regresar</button>
            <button mat-raised-button color="primary" (click)="enviarDatos()" [disabled]="!positivosForm.valid"><mat-icon>send</mat-icon> Enviar</button>
            
      </div>
    
    </mat-card>
</div>