.meta-capturada{
    padding:2px;
    background-color: black;
    color:whitesmoke;
    border-bottom: 2px solid white;
}

.meta-capturada-grupo{
    font-weight: bold;
    font-style: italic;
    font-stretch: semi-condensed;
    text-align: center;
}

.meta-capturada-etiqueta{
    text-align: center;
    color: whitesmoke;
    background-color: grey;
}

.meta-capturada-valor{
    text-align: center;
    color: black;
    background-color: whitesmoke;
    border: 2px solid grey;
}

.data-table{
    width: 100%;
}

.data-table th:not(:first-child):not(:last-child){
    padding-left: 5px;
    padding-right: 5px;
}

.data-table td:not(:first-child):not(:last-child){
    padding-left: 5px;
    padding-right: 5px;
}

.data-table td{
    text-align: center;
}

.data-table th{
    text-align: center;
    white-space: nowrap;
}

.no-results-found{
    text-align: center;
    font-style: italic;
}

.hide{
    display: none;
}