
<div class="contenedor">
    <div class="hijo is-6 is-sm-12 top">
        <div class="hijo is-12">
            <div class="card">
                <div class="card-title">
                    <div class="card-title-principal">Mapa de Casos Activos por Entidad Federativa de Residencia</div> 
                </div>
                <div class="card-info">
                    <agm-map style="height: 600px;width: 100%;" [latitude]="lat" [longitude]="lng" [disableDoubleClickZoom]="true" [zoom]="15">
                        <agm-kml-layer *ngFor="let data of capas_republica" [url]="data.id"> </agm-kml-layer>
                    </agm-map>
                </div>
                <div class="card-pie">
                    
                </div>
            </div>
        </div>   
        <div class="hijo is-12">
            <div class="card">
                <div class="card-title">
                    <div class="card-title-principal">Casos Confirmados activos por endidad federativa de residencia</div> 
                </div>
                
                <div class="card-info">
                    <div id="datos-republica-general"></div>
                </div>
                <div class="card-pie">
                    
                </div>
            </div>
        </div>
        
    </div>
    <div class="hijo is-6 is-sm-12">
        <div class="hijo is-12">
            <div class="card">
                <div class="card-title">
                    <div class="card-title-principal">Mapa de Casos Confirmados en Chiapas</div> 
                </div>
                <div class="card-info">
                    <agm-map style="height: 600px;width: 100%;" [latitude]="lat" [longitude]="lng" [disableDoubleClickZoom]="true" [zoom]="15">
                        <div *ngFor="let data of dataSource">
                            <agm-marker  *ngIf="data.marcable == 1" [latitude]="data.latitud" [longitude]="data.longitud" (markerClick)="informacion(ventana, data)">
                                <agm-info-window [disableAutoPan]="false" #ventana>
                                    <b>{{ nombre_municipio }}</b><br>
                                    
                                    <hr>
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>Casos: </td>
                                            <td>{{ cantidad_total }}</td>
                                            <td>Tasa: </td>
                                            <td>{{ cantidad_tasa }}</td>
                                        </tr>
                                    </table>
                                </agm-info-window>
                            </agm-marker>
                        </div>
                        
                        <agm-kml-layer *ngFor="let data of capas_chiapas" [url]="data.id"> </agm-kml-layer>
                    </agm-map>
                </div>
                <div class="card-pie">
                    
                </div>
            </div>
        </div>
        <div class="hijo is-12">
            <div class="card">
                <div class="card-title">
                    <div class="card-title-principal">Gráfica Casos por Día en Chiapas</div> 
                </div>
                
                <div class="card-info">
                    <div id="container"></div>
                </div>
                <div class="card-pie">
                    
                </div>
            </div>
        </div>
        <div class="hijo is-12">
            <div class="hijo is-3 top">
                <div class="informacion">
                    <div class="info grey">
                        <div class='titulo-info'>SOSPECHOSOS</div>
                        <div class='cantidad-info'>{{ informacionCovid.casos_sospechosos}}</div>
                    </div>
                </div>    
            </div>
            <div class="hijo is-3 top">
                <div class="informacion">
                    <div class="info red">
                        <div class='titulo-info'>POSITIVOS</div>
                        <div class='cantidad-info'>{{ informacionCovid.casos_confirmados}}</div>
                    </div>
                </div>
                
            </div>
            <!--<div class="hijo is-2 top">
                <div class="informacion">
                    <div class="info red">
                        <div class='titulo-info'>NEGATIVOS</div>
                        <div class='cantidad-info'>{{ informacionCovid.casos_negativos}}</div>
                    </div>
                </div>
                
            </div>-->
            <div class="hijo is-3 top">
                <div class="informacion">
                    <div class="info green">
                        <div class='titulo-info'>RECUPERADOS</div>
                        <div class='cantidad-info'>{{ informacionCovid.recuperados}}</div>
                    </div>    
                </div>
            </div>
            <div class="hijo is-3 top">
                <div class="informacion">
                    <div class="info black">
                        <div class='titulo-info'>DEFUNCIONES</div>
                        <div class='cantidad-info'>{{ informacionCovid.defunciones}}</div>
                    </div>
                </div>
                
            </div>
        </div>        
        <div class="hijo is-12">
            <div class="card">
                <div class="card-title">
                    <div class="card-title-principal">Casos por Municipios en el Estado de Chiapas</div> 
                </div>
                <div class="card-info">
                    <table>
                        <thead>
                            <th class="cabecera_tabla">#</th>
                            <th class="cabecera_tabla">Municipio</th>
                            <th class="cabecera_tabla">Casos</th>
                            <th class="cabecera_tabla">Tasa</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of dataSource; let i = index;" >
                                <td class="cabecera_tabla"> {{ i + 1 }}</td>
                                <td class="cabecera_tabla"> {{ data.nombre }}</td>
                                <td class="cabecera_tabla"> {{ data.casos }}</td>
                                <td class="cabecera_tabla"> {{ data.tasa }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>        
        </div>
    </div>
</div>        

