

<div class="contenedor">
    <div class="hijo is-6 is-sm-12">
        <agm-map style="height: 800px;width: 100%;" [latitude]="lat" [longitude]="lng" [disableDoubleClickZoom]="true" [zoom]="15">
            <div *ngFor="let data of dataSource">
                <agm-marker  *ngIf="data.marcable == 1" [latitude]="data.latitud" [longitude]="data.longitud" (markerClick)="informacion(ventana, data)">
                    <agm-info-window [disableAutoPan]="false" #ventana>
                        <b>{{ nombre_municipio }}</b><br>
                        
                        <hr>
                        <table style="width: 100%;">
                            <tr>
                                <td>Casos: </td>
                                <td>{{ cantidad_total }}</td>
                                <td>Tasa: </td>
                                <td>{{ cantidad_tasa }}</td>
                            </tr>
                        </table>
                    </agm-info-window>
                </agm-marker>
            </div>
            
            <agm-kml-layer *ngFor="let data of capas_chiapas" [url]="data.id"> </agm-kml-layer>
        </agm-map>
    </div>
    <div class="hijo is-6  is-sm-12 top">
        <div class="contenedor">
            <div class="hijo is-4 is-sm-12 top">
                <div class="hijo is-12 top">
                    <mat-card class="example-card estilo_tarjeta">
                        <div class="tarjeta">
                            <mat-card-title  class="titulo">Total de Sospechosos</mat-card-title>
                        </div>
                        
                        <mat-card-content class='cantidad'>
                            {{ informacionCovid.sospechosos}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="hijo is-12 top">
                    <mat-card class="example-card estilo_tarjeta">
                        <div class="tarjeta">
                            <mat-card-title  class="titulo">Total de Muestras Procesadas</mat-card-title>
                        </div>
                        <mat-card-content class='cantidad'>
                            {{ informacionCovid.muestras}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="hijo is-12 top">
                    <mat-card class="example-card estilo_tarjeta">
                        <div class="tarjeta">
                            <mat-card-title  class="titulo">Muestras Pendientes de Resultados</mat-card-title>
                        </div>
                        <mat-card-content class='cantidad'>
                            {{ informacionCovid.pendientes }}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="hijo is-12 top">
                    <mat-card class="example-card estilo_tarjeta">
                        <div class="tarjeta">
                            <mat-card-title class="titulo">Positivos</mat-card-title>
                        </div>
                        <mat-card-content class='cantidad'>
                            {{ informacionCovid.positivos }}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="hijo is-12 top">
                    <mat-card class="example-card estilo_tarjeta">
                        <div class="tarjeta">
                            <mat-card-title  class="titulo">Negativos</mat-card-title>
                        </div>
                        <mat-card-content class='cantidad'>
                            {{ informacionCovid.negativos }}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="hijo is-12 top">
                    <mat-card class="example-card estilo_tarjeta">
                        <div class="tarjeta">
                            <mat-card-title class="titulo">Recuperados</mat-card-title>
                        </div>
                        <mat-card-content class='cantidad'>
                            {{ informacionCovid.recuperados}}
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="hijo is-12 top">
                    <mat-card class="example-card estilo_tarjeta">
                        <div class="tarjeta">
                            <mat-card-title class="titulo">Defunciones</mat-card-title>
                        </div>
                        <mat-card-content class='cantidad'>
                            {{ informacionCovid.defunciones }}
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>    
            <div class="hijo is-8 is-sm-12 top">
                <div class="hijo is-12">
                    <table>
                        <thead>
                            <th class="cabecera_tabla" colspan="4" style="text-align: center;">CASOS POR MUNICIPIO</th>
                        </thead>
                        <thead>
                            <th class="cabecera_tabla">#</th>
                            <th class="cabecera_tabla">Municipio</th>
                            <th class="cabecera_tabla">Casos</th>
                            <th class="cabecera_tabla">Tasa</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of dataSource; let i = index;" >
                                <td class="cabecera_tabla"> {{ i + 1 }}</td>
                                <td class="cabecera_tabla"> {{ data.nombre }}</td>
                                <td class="cabecera_tabla"> {{ data.casos }}</td>
                                <td class="cabecera_tabla"> {{ data.tasa }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>    
        </div>
        
        
        
        <!--<div class="hijo is-12">
            <table>
                <thead>
                    <th class="cabecera_tabla">#</th>
                    <th class="cabecera_tabla">Municipio</th>
                    <th class="cabecera_tabla">Casos</th>
                    <th class="cabecera_tabla">Tasa</th>
                </thead>
                <tbody>
                    <tr *ngFor="let data of dataSource; let i = index;" >
                        <td class="cabecera_tabla"> {{ i + 1 }}</td>
                        <td class="cabecera_tabla"> {{ data.nombre }}</td>
                        <td class="cabecera_tabla"> {{ data.casos }}</td>
                        <td class="cabecera_tabla"> {{ data.tasa }}</td>
                    </tr>
                </tbody>
            </table>
        </div>-->
        
    </div>
    <div class="contenedor">
        <div class="hijo is-12 top">
            <div id="container"></div>
        </div>
    </div>
    
    
</div>
       