<h1 style="text-align: center;" *ngIf="formulario && !llenado">{{formulario.descripcion}}</h1>
<mat-horizontal-stepper [linear]="isLinear" #stepper *ngIf="formulario && encuestaForm && infoContactoForm">
    <mat-step [stepControl]="encuestaForm.get('seccion_pregunta_'+pregunta.id)" *ngFor="let pregunta of formulario.preguntas">
      <form [formGroup]="encuestaForm.get('seccion_pregunta_'+pregunta.id)">
        <section>
            <h2>{{pregunta.descripcion}}</h2>
            <mat-radio-group *ngIf="pregunta.tipo_pregunta == 'SINO'" class="formulario-radio-grupo" formControlName="pregunta_{{pregunta.id}}" [required]="pregunta.obligatorio" (change)="activarSerie(pregunta)">
                <mat-radio-button class="formulario-radio-button" [value]="1">Si</mat-radio-button>
                <mat-radio-button class="formulario-radio-button" [value]="0">No</mat-radio-button>
            </mat-radio-group>
            <mat-form-field *ngIf="pregunta.tipo_pregunta == 'VAL' && pregunta.tipo_valor == 'DATE'">
                <mat-label>Fecha (aaaa-mm-dd)</mat-label>
                <input matInput mascaraFecha formControlName="pregunta_{{pregunta.id}}" [required]="pregunta.obligatorio">
                <mat-hint>Ejemplo: {{fechaEjemplo | date:'yyyy-MM-dd'}}</mat-hint>
            </mat-form-field>
            <mat-form-field *ngIf="pregunta.tipo_pregunta == 'VAL' && pregunta.tipo_valor == 'STRING'" appearance="fill" style="width: 100%;">
                <input style="width: 100%;" matInput formControlName="pregunta_{{pregunta.id}}" [required]="pregunta.obligatorio">
            </mat-form-field>
            <section *ngIf="pregunta.tipo_pregunta == 'MULTIO' || pregunta.tipo_pregunta == 'MULTI'" class="" [formGroup]="encuestaForm.get('pregunta_'+pregunta.id)" fxLayout="column">
                <mat-checkbox fxFlex="100" *ngFor="let pregunta_respuesta of pregunta.respuestas" class="formulario-checkbox" formControlName="respuesta_{{pregunta_respuesta.id}}">{{pregunta_respuesta.descripcion}}</mat-checkbox>
                <mat-checkbox fxFlex="100" *ngIf="pregunta.tipo_pregunta == 'MULTIO'" class="formulario-checkbox" formControlName="respuesta_otro">Otro <mat-form-field><input matInput placeholder="Especifique" formControlName="respuesta_otro_descripcion" [required]="(encuestaForm.get('pregunta_'+pregunta.id).get('respuesta_otro').value)?'true':'false'"></mat-form-field></mat-checkbox>
            </section>
            <mat-radio-group *ngIf="pregunta.tipo_pregunta == 'UNICO' || pregunta.tipo_pregunta == 'UNIC'" class="formulario-radio-grupo" formControlName="pregunta_{{pregunta.id}}" [required]="pregunta.obligatorio" (change)="activarSerie(pregunta)">
                <mat-radio-button class="formulario-radio-button" *ngFor="let pregunta_respuesta of pregunta.respuestas" [value]="pregunta_respuesta.valor">{{pregunta_respuesta.descripcion}}</mat-radio-button>
            </mat-radio-group>
        </section>
        <section *ngIf="pregunta && pregunta.serie" fxLayout="column" fxLayoutGap="5px">
            <mat-card *ngFor="let serie_pregunta of pregunta.serie.preguntas" [formGroup]="encuestaForm.get('seccion_pregunta_'+pregunta.id).get('pregunta_'+pregunta.id+'_serie')" fxFlex>
                <h3>{{serie_pregunta.descripcion}}</h3>
                <mat-radio-group *ngIf="serie_pregunta.tipo_pregunta == 'SINO'" class="formulario-radio-grupo" formControlName="pregunta_{{serie_pregunta.id}}" [required]="pregunta.serie_activa && serie_pregunta.obligatorio">
                    <mat-radio-button class="formulario-radio-button" [value]="1">Si</mat-radio-button>
                    <mat-radio-button class="formulario-radio-button" [value]="0">No</mat-radio-button>
                </mat-radio-group>
                <mat-form-field *ngIf="serie_pregunta.tipo_pregunta == 'VAL' && serie_pregunta.tipo_valor == 'DATE'">
                    <mat-label>Fecha (aaaa-mm-dd)</mat-label>
                    <input matInput mascaraFecha formControlName="pregunta_{{serie_pregunta.id}}" [required]="pregunta.serie_activa && serie_pregunta.obligatorio">
                    <mat-hint>Ejemplo: {{fechaEjemplo | date:'yyyy-MM-dd'}}</mat-hint>
                </mat-form-field>
                <mat-form-field *ngIf="serie_pregunta.tipo_pregunta == 'VAL' && serie_pregunta.tipo_valor == 'STRING'" appearance="fill" style="width: 100%;">
                    <input style="width: 100%;" matInput formControlName="pregunta_{{serie_pregunta.id}}" [required]="pregunta.serie_activa && serie_pregunta.obligatorio">
                </mat-form-field>
                <section *ngIf="serie_pregunta.tipo_pregunta == 'MULTIO' || serie_pregunta.tipo_pregunta == 'MULTI'" class="" [formGroup]="encuestaForm.get('seccion_pregunta_'+pregunta.id).get('pregunta_'+pregunta.id+'_serie').get('pregunta_'+serie_pregunta.id)" fxLayout="column">
                    <mat-checkbox fxFlex="100" *ngFor="let serie_pregunta_respuesta of serie_pregunta.respuestas" class="formulario-checkbox" formControlName="respuesta_{{serie_pregunta_respuesta.id}}">{{serie_pregunta_respuesta.descripcion}}</mat-checkbox>
                    <mat-checkbox fxFlex="100" *ngIf="serie_pregunta.tipo_pregunta == 'MULTIO'" class="formulario-checkbox" formControlName="respuesta_otro">Otro <mat-form-field><input matInput placeholder="Especifique" formControlName="respuesta_otro_descripcion" [required]="(encuestaForm.get('seccion_pregunta_'+pregunta.id).get('pregunta_'+pregunta.id+'_serie').get('pregunta_'+serie_pregunta.id).get('respuesta_otro').value)?'true':'false'"></mat-form-field></mat-checkbox>
                </section>
                <mat-radio-group *ngIf="serie_pregunta.tipo_pregunta == 'UNICO' || serie_pregunta.tipo_pregunta == 'UNIC'" class="formulario-radio-grupo" formControlName="pregunta_{{serie_pregunta.id}}" [required]="serie_pregunta.obligatorio">
                    <mat-radio-button class="formulario-radio-button" *ngFor="let pregunta_respuesta of serie_pregunta.respuestas" [value]="pregunta_respuesta.valor">{{pregunta_respuesta.descripcion}}</mat-radio-button>
                </mat-radio-group>
            </mat-card>
        </section>
        <div fxLayout="row">
            <div fxFlex></div>
            <button mat-button matStepperPrevious>Atras</button>
            <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <!--ng-template matStepLabel>Done</ng-template-->
      <div fxLayout.gt-sm="row raw" fxLayout.lt-sm="column" fxLayoutAlign="space-between" [formGroup]="infoContactoForm">
        <mat-form-field fxFlex.gt-sm="33" fxFlex.lt-sm="100" >
            <mat-label>Apellido Paterno</mat-label>
            <input matInput formControlName="apellido_paterno">
        </mat-form-field>
        <mat-form-field fxFlex.gt-sm="33" fxFlex.lt-sm="100" >
            <mat-label>Apellido Materno</mat-label>
            <input matInput formControlName="apellido_materno">
        </mat-form-field>
        <mat-form-field fxFlex.gt-sm="33" fxFlex.lt-sm="100" >
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" required>
            <mat-error *ngIf="infoContactoForm.get('nombre').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-sm="33" fxFlex.lt-sm="100" >
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="sexo">
                <mat-option [value]="'H'">Hombre</mat-option>
                <mat-option [value]="'M'">Mujer</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex.gt-sm="33" fxFlex.lt-sm="100" >
            <mat-label>Fecha de Nacimiento (aaaa-mm-dd)</mat-label>
            <input matInput mascaraFecha formControlName="fecha_nacimiento" required>
            <mat-hint>Ejemplo: 1985-08-15</mat-hint>
            <mat-error *ngIf="infoContactoForm.get('fecha_nacimiento').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex.gt-sm="33" fxFlex.lt-sm="100" >
            <mat-label>Correo Electronico</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="infoContactoForm.get('email').hasError('email')">Formato de Correo Electronico incorrecto</mat-error>
        </mat-form-field>
        
        <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado_id" (valueChange)="cargarMunicipios($event)" required>
                <mat-option *ngFor="let item of catalogos['estados']" [value]="item.id">
                    {{item.descripcion}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="infoContactoForm.get('estado_id').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" *ngIf="!catalogos['municipios']">
            <mat-label>Municipio</mat-label>
            <input matInput formControlName="municipio" required>
            <mat-hint>Escribe el nombre del municipio</mat-hint>
            <mat-error *ngIf="infoContactoForm.get('municipio').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" *ngIf="catalogos['municipios']">
            <mat-label>Municipio</mat-label>
            <input type="text" aria-label="municipio" matInput formControlName="municipio_id" [matAutocomplete]="municipioAutocomplete" required (blur)="checkAutocompleteValue('municipio_id')">
            <mat-autocomplete #municipioAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" [panelWidth]="'auto'" (optionSelected)="cargarLocalidades($event)">
                <mat-option *ngFor="let item of filteredCatalogs['municipios'] | async" [value]="item">
                    {{item.descripcion}}
                </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="!infoContactoForm.get('municipio_id').value">Selecciona un municipio de la lista</mat-hint>
            <mat-hint align="end" *ngIf="infoContactoForm.get('municipio_id').value">[{{infoContactoForm.get('municipio_id').value.clave}}]</mat-hint>
            <mat-error *ngIf="infoContactoForm.get('municipio_id').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" *ngIf="!catalogos['localidades']">
            <mat-label>Localidad</mat-label>
            <input matInput formControlName="localidad" required>
            <mat-hint>Escribe el nombre de la localidad</mat-hint>
            <mat-error *ngIf="infoContactoForm.get('localidad').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm="25" fxFlex.lt-sm="100" *ngIf="catalogos['localidades']">
            <mat-label>Localidad</mat-label>
            <input type="text" aria-label="localidad" matInput formControlName="localidad_id" [matAutocomplete]="localidadAutocomplete" required (blur)="checkAutocompleteValue('localidad_id')">
            <mat-autocomplete #localidadAutocomplete="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" [panelWidth]="'auto'">
                <mat-option *ngFor="let item of filteredCatalogs['localidades'] | async" [value]="item">
                    [{{item.clave}}] {{item.descripcion}}
                </mat-option>
            </mat-autocomplete>
            <mat-hint *ngIf="!infoContactoForm.get('localidad_id').value">Selecciona un localidad de la lista</mat-hint>
            <mat-hint align="end" *ngIf="infoContactoForm.get('localidad_id').value">[{{infoContactoForm.get('localidad_id').value.clave}}]</mat-hint>
            <mat-error *ngIf="infoContactoForm.get('localidad_id').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm="24" fxFlex.lt-sm="100" >
            <mat-label>Códico Postal</mat-label>
            <input matInput formControlName="codigo_postal">
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm="35" fxFlex.lt-sm="100" >
            <mat-label>Colonia o Barrio</mat-label>
            <input matInput formControlName="colonia">
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm="40" fxFlex.lt-sm="100" >
            <mat-label>Calle</mat-label>
            <input matInput formControlName="calle" required>
            <mat-error *ngIf="infoContactoForm.get('calle').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm="10" fxFlex.lt-sm="50" >
            <mat-label>No.Ext</mat-label>
            <input matInput formControlName="no_exterior" required>
            <mat-error *ngIf="infoContactoForm.get('no_exterior').hasError('required')">Este campo es obligatorio</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm="10" fxFlex.lt-sm="50" >
            <mat-label>No.Int</mat-label>
            <input matInput formControlName="no_interior">
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm="50" fxFlex.lt-sm="100" >
            <mat-label>Referencia</mat-label>
            <textarea matInput rows="1" formControlName="referencia"></textarea>
            <mat-hint>Ejemplo: Entre calle 1 y calle 2, a lado de una ferretería</mat-hint>
        </mat-form-field>

        <mat-form-field fxFlex.gt-sm="33" fxFlex.lt-sm="100" >
            <mat-label>Télefono de Contacto</mat-label>
            <input matInput formControlName="telefono_contacto" required>
            <mat-error *ngIf="infoContactoForm.get('telefono_contacto').hasError('required')">Este campo es obligatorio</mat-error>
            <mat-hint align="end"><mat-checkbox formControlName="es_celular">Es Télefono Celular</mat-checkbox></mat-hint>
        </mat-form-field>

        <mat-form-field class="invisible">
            <input matInput formControlName="latitud" [readonly]="true">
        </mat-form-field>
        <mat-form-field class="invisible">
            <input matInput formControlName="longitud" [readonly]="true">
        </mat-form-field>

        <div  fxFlex.gt-sm="10" fxFlex.lt-sm="100" >
            <button mat-raised-button color="{{(infoContactoForm.get('latitud').value)?'primary':''}}" (click)="localizarPersona()"><mat-icon>{{(infoContactoForm.get('latitud').value)?'where_to_vote':'not_listed_location'}}</mat-icon><br> Localizar</button>
        </div>
      </div>
      <div fxLayout="row">
            <div fxFlex></div>
            <button mat-button matStepperPrevious>Atras</button>
            <button mat-raised-button color="primary" (click)="enviarDatos()" [disabled]="!encuestaForm.valid || !infoContactoForm.valid"><mat-icon>send</mat-icon> Enviar</button>
      </div>
    </mat-step>
</mat-horizontal-stepper>

<div fxLayout="row" *ngIf="llenado">
    <mat-card fxFlexOffset.gt-sm="25%" fxFlex.gt-sm="50" fxFlex.lt-sm="100">
        <mat-card-content>
            <p>
                Se ha completa el llenado del formulario. En caso de ser necesario una persona se contactara con usted.
            </p>
        </mat-card-content>
    </mat-card>
</div>