<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
    <section fxFlex="none" fxLayout="row" >
        <mat-card fxFlex fxLayout="row">
            <div fxFlex="none">Grupo #{{brigada.grupo_estrategico.folio}}<br> Distrito {{brigada.distrito.clave}}</div>
            <div fxFlex></div>
            <div fxFlex="none">
                <button mat-stroked-button (click)="verBrigadistas()">Total Brigadistas: {{brigada.total_brigadistas | number:'1.0-0'}}</button>
            </div>
        </mat-card>
    </section>
    <section fxFlex style="overflow: auto;">
        <div>
            <h3>Rondas:</h3>
        </div>
        <mat-grid-list cols="5" rowHeight="1:1">
            <mat-grid-tile>
                <div style="height: 100%; width: 100%; padding: 10px;">
                    <div class="circle nuevo" (click)="nuevaRonda()">
                        <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                <div fxLayout="column" style="height: 100%; width: 100%;">
                                    <div fxFlex></div>
                                    <div fxFlex class="round_number">
                                        +
                                    </div>
                                    <div fxFlex="none">Nueva Ronda</div>
                                    <div fxFlex></div>
                                </div>                                
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile *ngFor="let ronda of rondas">
                <div style="height: 100%; width: 100%; padding: 10px;">
                    <div class="circle" [ngClass]="{'activo':ronda.activa}" (click)="editarRonda()">
                        <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                <div fxLayout="column" style="height: 100%; width: 100%; font-size: 1em;">
                                    <div fxFlex></div>
                                    <div fxFlex class="round_number">
                                        {{ronda.no}}
                                    </div>
                                    <div fxFlex="none">Inicio: {{ronda.fecha_inicio | date:'dd/MM/yyyy'}}</div>
                                    <div fxFlex="none">Fin: {{ronda.fecha_fin | date:'dd/MM/yyyy'}}</div>
                                    <div fxFlex="none">Total Dias: {{ronda.total_dias}}</div>
                                    <div fxFlex></div>
                                </div>                                
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </section>
</section>