<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <div class="data-loading-shade" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
    <section fxFlex="none" fxLayout="row" >
        <mat-card fxFlex fxLayout="row">
            <mat-form-field fxFlex appearance="fill" *ngIf="brigadas && brigadas.length > 1">
                <mat-label>Brigadas</mat-label>
                <mat-select [(ngModel)]="brigada" (selectionChange)="cambioBrigada()">
                    <mat-option *ngFor="let brigada of brigadas" [value]="brigada">
                        Distrito {{brigada.distrito.clave}} - {{brigada.distrito.descripcion}} ({{ brigada.total_rondas | number:'1.0-0'}} Rondas)
                    </mat-option>
                </mat-select>
                <mat-hint align="end" *ngIf="brigada">Grupo #{{brigada.grupo_estrategico.folio}}</mat-hint>
            </mat-form-field>
            <mat-form-field fxFlex appearance="fill" *ngIf="brigadas && brigadas.length == 1">
                <mat-label>Brigada</mat-label>
                <input matInput value="Distrito {{brigada.distrito.clave}} - {{brigada.distrito.descripcion}} ({{ brigada.total_rondas | number:'1.0-0'}} Rondas)" readonly>
                <mat-hint align="end">Grupo #{{brigada.grupo_estrategico.folio}}</mat-hint>
            </mat-form-field>
            <div fxFlex="10"></div>
            <mat-form-field fxFlex="none" *ngIf="brigada" appearance="outline">
                <mat-label>Total Brigadistas</mat-label>
                <input matInput readonly value="{{brigada.total_brigadistas | number:'1.0-0'}}">
                <button mat-icon-button matSuffix (click)="verBrigadistas()" [attr.aria-label]="'Ver Brigadistas'">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-form-field>
            <div fxFlex="5"></div>
            <div fxFlex="none">
                <button mat-fab (click)="cargarBrigadas()">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
        </mat-card>
    </section>
    <section fxFlex="none" fxLayout="row">
        <mat-card fxFlex fxLayout="row">
            <form fxFlex="50" class="example-form">
                <mat-form-field style="width: 100%;" [floatLabel]="'always'" appearance="outline">
                    <mat-label>Municipio</mat-label>
                    <input type="text" placeholder="Seleccione un Municipio" aria-label="Municipio" matInput [formControl]="municipio" [matAutocomplete]="autoMunicipio" (blur)="checkAutocompleteMunicipio()">
                    <mat-autocomplete #autoMunicipio="matAutocomplete" [displayWith]="getDisplayFn('descripcion')" [panelWidth]="'auto'" (optionSelected)="municipioSeleccionado()">
                        <mat-option *ngFor="let municipio of municipiosFiltrados | async" [value]="municipio">
                            <div  [ngStyle]="{'font-weight': (municipio.total_rondas > 0) ? 'bold' : 'normal'}">
                                <span>{{municipio.descripcion}}</span> | <small>Rondas: {{municipio.total_rondas | number:'1.0-0'}}</small>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                    <button tabindex="-1" *ngIf="municipio.value" mat-icon-button matSuffix (click)="limpiarMunicipio()">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <mat-hint *ngIf="mostrarRondas" align="end"><mat-icon>visibility</mat-icon> Mostrando Rondas</mat-hint>
                </mat-form-field>
            </form>
        </mat-card>
    </section>
    <section fxFlex="none" fxLayout="row" style="overflow: auto;">
        
    </section>
    <section fxFlex style="overflow: auto;">
        <mat-grid-list cols="5" rowHeight="1:1" *ngIf="mostrarRondas">
            <mat-grid-tile *ngIf="rondaActiva == 0">
                <div style="height: 100%; width: 100%; padding: 10px;">
                    <div class="circle nuevo" (click)="nuevaRonda()">
                        <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                <div fxLayout="column" style="height: 100%; width: 100%;">
                                    <div fxFlex></div>
                                    <div fxFlex class="round_number">
                                        +
                                    </div>
                                    <div fxFlex="none">Nueva Ronda</div>
                                    <div fxFlex></div>
                                </div>                                
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
            <mat-grid-tile *ngFor="let ronda of rondas">
                <div style="height: 100%; width: 100%; padding: 10px;">
                    <div class="circle" [ngClass]="{'activo':rondaActiva == ronda.no_ronda}" (click)="editarRonda(ronda.id)">
                        <div class="circle__inner">
                        <div class="circle__wrapper">
                            <div class="circle__content">
                                <div fxLayout="column" style="height: 100%; width: 100%; font-size: 1em;">
                                    <div fxFlex></div>
                                    <div fxFlex class="round_number">
                                        {{ronda.no_ronda}}
                                    </div>
                                    <div fxFlex="none">Inicio: {{ronda.fecha_inicio | date:'dd/MM/yyyy'}}</div>
                                    <div fxFlex="none" *ngIf="ronda.fecha_fin">Fin: {{ronda.fecha_fin | date:'dd/MM/yyyy'}}</div>
                                    <div fxFlex="none">Total Dias: {{((ronda.total_dias)?ronda.total_dias:0) | number:'1.0-0'}}</div>
                                    <div fxFlex></div>
                                </div>                                
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </section>
</section>