<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <section fxFlex="none" fxLayout="row">
        <div fxFlex>
            <h3>Nueva Ronda</h3>
        </div>
    </section>
    <section fxFlex>
        <div fxLayout="column" style="height: 100%;" [formGroup]="formRonda">
            <div fxFlex="none" style="padding:5px 0;">
                <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field fxFlex>
                        <mat-label>Fecha de Inicio (aaaa-mm-dd)</mat-label>
                        <input matInput mascaraFecha formControlName="fecha_inicio" required>
                        <mat-hint>Ejemplo: 2020-01-30</mat-hint>
                        <mat-error *ngIf="formRonda.get('fecha_inicio').hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex>
                        <mat-label>No. de Ronda</mat-label>
                        <input matInput formControlName="no_ronda" required>
                        <mat-error *ngIf="formRonda.get('no_ronda').hasError('required')">Este campo es obligatorio</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </section>
    <section fxFlex="none">
        <div fxLayout="row">
            <div fxFlex></div>
            <div fxFlex="none">
                <button mat-button (click)="cancelar()">Cancelar</button>&nbsp;
                <button mat-raised-button color="primary" (click)="crearRonda()" [disabled]="!formRonda.valid || isLoading" [class.button-spinner]="isLoading"><mat-icon>save</mat-icon> Guardar</button>&nbsp;
            </div>
        </div>
    </section>
</section>