.is-loading{
    display: flex;
    justify-content: center;
}

.is-loading mat-spinner{
    margin: 0 auto;
}

.selected-item{
    background-color: lightskyblue;
}

.search-button {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    margin: 0 10px;
}

.loading-shade {
    position: relative;
    min-height: 60px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.loading-shade mat-spinner{
    margin:0 auto;
}

.loading-shade span{
    margin:0 auto;
}

.hide{
    display: none;
}

.tarjeta-info-formulario p{
    line-height: 22px;
    margin-bottom: 0px;
}

.tarjeta-info-formulario p:first-child{
    padding-right: 10px;
}

.tarjeta-info-formulario p:last-child{
    padding-left: 10px;
    border-left: thick;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: rgba(0,0,0,.12);
}

.tarjeta-info-formulario p span.label{
    color: rgba(0,0,0,.87);
    font-weight: bold;
    border-bottom: thick;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,.50);
}

.tarjeta-info-formulario p span.value{
    padding: 0 5px 0 5px;
}

.respuesta{
    background-color: #9fbaf3;
    padding:2px;
    margin:1px;
}

.data-container {
    position: relative;
    min-height: 200px;
}

.data-table-container {
    position: relative;
    max-height:300px;
    min-height:200px;
    overflow: auto;
}

.data-table-container table th {
    text-align:center;
    white-space: nowrap;
}

table {
    width: 100%;
}

.mat-column-actions{
    max-width: 75px;
    min-width: 60px;
}

.not-results-found{
    text-align: center;
    font-style: italic;
}

.grupo{
    border-color:rgba(0,0,0,.15);
    width: auto;
    border-radius: 4px;
}