<div fxLayout="row" fxLayoutAlign="space-evenly" style="padding-top:10px;">
    <mat-card fxFlex="20" class="example-card" *ngFor="let item of listaContingencias">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{item.titulo}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{homeUrl + item.imagen}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{item.descripcion}}
          </p>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="space-evenly">
          <button fxFlex="none" mat-raised-button routerLink="/listado-contingencias/listado-casos/{{item.id}}">CASOS</button>
        </mat-card-actions>
    </mat-card>
</div>