
.form-container {
  position: relative;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  padding:10px;
}

.form-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

input.eit-right-align::-webkit-outer-spin-button,
input.eit-right-align::-webkit-inner-spin-button {
    display: none;
}

input.eit-right-align {
    -moz-appearance: textfield;
}

.chart {
  width: 100%; 
  min-height: 450px;
}

.row {
  margin:0 !important;
}
