<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <section fxFlex="none" fxLayout="row">
        <div fxFlex>
            <h3>Finalizar Ronda</h3>
        </div>
    </section>
    <section fxFlex>
        <div fxLayout="column" style="height: 100%;">
            <div fxFlex="none" style="padding:5px 0;">
                <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field fxFlex>
                        <mat-label>Fecha de Finalización (aaaa-mm-dd)</mat-label>
                        <input matInput mascaraFecha [(ngModel)]="fechaFin" required>
                        <mat-hint>Ejemplo: 2020-01-30</mat-hint>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </section>
    <section fxFlex="none">
        <div fxLayout="row">
            <div fxFlex></div>
            <div fxFlex="none">
                <button mat-button (click)="cancelar()">Cancelar</button>&nbsp;
                <button mat-raised-button color="primary" (click)="finalizarRonda()" [disabled]="!fechaFin || isLoading" [class.button-spinner]="isLoading"><mat-icon>save_alt</mat-icon> Finalizar</button>&nbsp;
            </div>
        </div>
    </section>
</section>