<section fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start" style="padding:10px; height: 100%; overflow: auto; flex: 1 1 0%;">
    <mat-card fxFlex fxLayout="column">
        <section fxFlex="none" fxLayout="column" *ngFor="let estrategia of listaEstrategias; index as i;">
            <div fxFlex>
                <h2>
                    {{estrategia.nombre}}
                    <mat-divider [inset]="true"></mat-divider>
                </h2>
            </div>
            <div fxFlex fxLayout="row raw" >
                <section fxFlex="50" *ngFor="let actividad of estrategia.actividades; index as j;" style="padding:5px;">
                    <mat-card fxLayout="column" >
                        <div fxFlex fxLayout="row"  style="padding-bottom:5px;">
                            <div fxFlex>
                                {{actividad.descripcion}}
                            </div>
                            <div fxFlex="none">
                                <button mat-flat-button color="accent" aria-label="Agregar Avance" (click)="verAvances(actividad,i,j)">
                                    <mat-icon>launch</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxFlex>
                            <div class="meta-abierta" *ngIf="actividad.meta_abierta">
                                {{((actividad.avance_acumulado)?actividad.avance_acumulado.total_avance:0) | number}}
                            </div>
                            <div class="porcentaje-barra" *ngIf="!actividad.meta_abierta">
                                <span class="porcentaje-lleno" [style.width]="actividad.porcentaje+'%'">{{actividad.porcentaje | number:'1.0-0'}}%</span>
                            </div>
                        </div>
                        <div fxFlex style="padding-top:15px;" fxLayout="row">
                            <mat-chip-list aria-label="Fish selection" fxFlex="none">
                                <mat-chip color="primary" [disableRipple]="true" [selectable]="false" [selected]="actividad.semana_actual" >
                                    <mat-icon>{{ (actividad.semana_actual)?'check_circle':'schedule' }}</mat-icon>&nbsp;Avance {{ (actividad.semana_actual)?'Realizado':'Pendiente' }}
                                </mat-chip>
                            </mat-chip-list>
                            <div fxFlex></div>
                            <div fxFlex="none" style="text-align: center;">
                                <mat-hint>Ulima Actualización:<br> 
                                    <span *ngIf="!actividad.avance_acumulado">Sin Avances</span> 
                                    <span *ngIf="actividad.avance_acumulado">{{actividad.avance_acumulado.ultima_fecha_avance | date:'dd/MM/yyyy'}}</span>
                                </mat-hint>
                            </div>
                        </div>
                    </mat-card>
                </section>
            </div>
        </section>
    </mat-card>
</section>